<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "/db.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>
  <body>

    <div class = "firstline">
      <h1 class = "firstline-title">Trip Dashboard</h1>
        <div class="dropdown">
          <button class="dropbtn">More</button>
          <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/trips">Trips</a>
            <a href="/trips/new">New</a>
          </div>
        </div>
      </div>
    </div>

    <div class = "content">
      <div class = "details">

        <p><span>Average Ride Duration:</span> <%= @trips.avg_duration %></p>
        <p><span>Longest Ride:</span> <%= @trips.longest_ride %></p>
        <p><span>Shortest Ride:</span> <%= @trips.shortest_ride %></p>
        <p><span>Station with Most Departures:</span> <%= @trips.most_departures %></p>
        <p><span>Station with Most Arrivals:</span> <%= @trips.most_arrivals %></p>
        <p><span>ID of Most Ridden Bike:</span> <%= @trips.most_ridden_bike %> (<%= @trips.ride_count(@trips.most_ridden_bike)%> rides)</p>
        <p><span>ID of Least Ridden Bike:</span> <%= @trips.least_ridden_bike %> (<%= @trips.ride_count(@trips.least_ridden_bike)%> rides)</p>
        <p><span>Busiest Day:</span> <%= @trips.busiest_day.strftime("%B %d, %Y") %></p>
        <p><span>Slowest Day:</span> <%= @trips.slowest_day.strftime("%B %d, %Y") %></p>
        <p class = "list-title"><span>User Subscription Types</span></p>
          <ul><% @trips.subscription_types_and_info.each_pair do |type, info| %>
            <li><%= type %>: <%= info[:count] %> subscriptions (<%= info[:pct] %>% of business)</li>
            <% end %>
          </ul>
        <p class = "list-title"><span>Rides Breakdown by Year/Month</span></p>
          <ul>
            <% @trips.month_year_breakdown.each do |entry| %>
            <li><%= entry[0] %>: <%= entry[1] %></li>
            <% end %>
          </ul>
          <% @trips.year_breakdown.each do |entry| %>
            <%= entry[0] %>: <%= entry[1] %></br>
          <% end %>

      </div>
    </div>

  </body>
</html>
